body{
    background-image: url(https://wallpapers.com/images/featured/most-beautiful-nature-pictures-hdb30wtkjbn08xlf.jpg);
    background-position: center;
    width: 20;
    height: 50;
    background-color: blue;width: 200;height: 500;
}